﻿@model BookStore.WEB.Models.ShoppingCartViewModel
<table class="table">
    <thead>
        <tr>
            <th>Cout</th>
            <th>Book</th>
            <th>Price</th>
            <th>Summary Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.CartItems)
        {
            <tr>
                <td>@line.Count</td>
                <td>@line.Book.Name</td>
                <td>@line.Book.Price.ToString("# USD")</td>
                <td>@((line.Book.Price * line.Count).ToString("# USD"))</td>
                <td>
                    @Ajax.ActionLink("Delete", "RemoveFromCart", "ShoppingCart",
                   new { id = line.CartItemId, returnUrl = Model.returnUrl },new AjaxOptions { HttpMethod="GET",UpdateTargetId = "updateCart"
                   } ,new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Summary:</td>
            <td>
                @Model.CartTotal.ToString("# Usd")
            </td>
        </tr>
    </tfoot>
</table>
