﻿@model BookStore.WEB.ViewModels.CreateBookViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Add Book</h4>
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
   @Html.HiddenFor(m => m.Id)
   @Html.ValidationSummary(true)
    <div class="form-group">
        <label for="Name">Name</label>
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="form-group">
        <label for="Decription">Description</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        @Html.DropDownListFor(m => m.AuthorId, Model.Authors as SelectList, new {@class = "form-control" })
      
    </div>
    <div class="form-group">
        <label for="Category">Genre</label>
        @Html.DropDownListFor(m => m.CategoryId, Model.Genres as SelectList, new { @class = "form-control" })
       
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
}


