﻿@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-group btn-group-lg mb-2">

</div>
<div id="updateAdminPanel">
    @Html.Partial("ShowBooks")
</div>



