﻿@model IEnumerable<BookStore.BLL.DTO.BookDTO>
@Html.ActionLink("Add Book", "Create", null, new { @class = "btn btn-primary mb-2" })
<table class="table table-hover">
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Price Usd</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
            </tr>
        }
    </tbody>
</table>
<script src="@Url.Content("~/Scripts/developerScripts/EditDialogScript.js")"></script>