﻿@model IEnumerable<BookStore.WEB.Models.CategoryViewModel>
@Html.ActionLink("Add Genre", "Create", null, new { @class = "btn btn-primary mb-2" })
<table class="table table-hover">
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>
                    @Html.ActionLink("Change", "Edit", "Genre", new { id = category.Id },
                        new {@class= "viewDialog", data_dialog_title = "Редактирование жанра" })
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "Delete", "Genre",
                        new { id =category.Id},new AjaxOptions { HttpMethod="POST",UpdateTargetId = "updateAdminPanel",Confirm = "Вы действительно хотите удалить этот объект?"
                        })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="@Url.Content("~/Scripts/developerScripts/EditDialogScript.js")"></script>

